.shimmer-wrapper {
  @apply absolute top-0 left-0 w-full h-full;
  animation: loading 2.5s infinite;
}
.shimmer {
  @apply w-1/2 h-full;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
